$primary-color: rgb(32,32,32);
$secondary-color:rgba(255, 255, 255, 0.877);
$font-color: rgb(82,82,82);
$main-colour:#574b90;

//for preloader
$first: rgb(236,96,155);
$second:rgb(244,199,98);
$third:rgb(230,46,50);
$bgColor: #214;