body {
    footer {
        @include global-padding(12rem, 0rem, 0rem, 0rem);
        background-color: rgb(27,28,37);
        text-align: center;
        color: $secondary-color;

        h3 {
            @include global-padding(10px, 10px, 15px, 10px);
            font-size: 4rem;
            letter-spacing: 10px;
        }
        .footer-icon-section {
            a {
                text-decoration: none;

                i {
                    @include global-padding(15px, 15px, 15px, 15px);
                    height: 61px;
                    width: 61px;
                    font-size: 30px;
                    line-height: 26px;
                    margin: 0.8rem;
                    border-radius: 50%;
                    border: 2px solid aquamarine;
                    color:aquamarine;
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.993);
                    
                }
                .fa-linkedin-in:hover{
                    color: rgb(0,119,181);
                    background-color: $secondary-color;
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
                .fa-github:hover {
                    color: black;
                    background-color: $secondary-color;
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
                .fa-twitter-square:hover {
                    color:rgb(26,149,228) ;
                    background-color: $secondary-color;
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
                .fa-instagram:hover {
                    color: $secondary-color;
                    background:radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
                .fa-facebook:hover {
                    color: $secondary-color;
                    background-color: rgb(23,149,245);
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
                .fa-reddit:hover {
                    background-color: rgb(255,69,1);
                    color: $secondary-color;
                    border: 2px solid $secondary-color;
                    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.623);
                    transform: translate(0px, -15px);
                    transition: .5s ease-out;
                }
            }
        }
        .footer-credit-section {
            @include global-padding(0.8em, 0em, 0.8em, 0em);
            margin-top: 2rem;
            background-color: black;
            font-size: 1.2rem;
            color: $secondary-color;
        }
    }
}