body {
    .my-projects-section {
        @include global-padding(12em, 0em, 5em, 0em);
        text-align: center;
        color:$secondary-color;
        background-color:rgb(27,28,37);
        .conatiner {
            h2 {
                margin-bottom: 2rem;
                font-size: 3em;
                letter-spacing: 3px;
                color: $secondary-color;
                text-shadow: 2px 2px 1px #00000067,
            }
            .projects-btn-section {
                margin-bottom: 2rem;
                .items-btn{
                    display: inline-block;
                    outline: 0;
                    cursor: pointer;
                    border: none;
                    padding: 0px 56px;
                    margin: 1rem 0.6rem;
                    height: 45px;
                    line-height: 45px;
                    text-transform: capitalize;
                    border-radius: 7px;
                    font-weight: 400;
                    font-size: 16px;
                    background-color: #fff;
                    color: #696969 ;
                    box-shadow: 0px 4px 14px 0px rgb(0, 0 , 0 / 10%);
                    transition: all 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
                  
                }
                .items-btn:hover {
                    background-color: rgba(255,255, 255, 0.9);
                    box-shadow: 0px 6px 20px rgb(93, 93, 93 /23%);
                }
                .active-item-btn {
                    display: inline-block;
                    outline: 0;
                    cursor: pointer;
                    border: none;
                    padding: 0px 56px;
                    margin: 1rem;
                    height: 45px;
                    line-height: 45px;
                    border-radius: 7px;
                    font-weight: 400;
                    font-size: 16px;
                    background-color: rgb(113,161,215);
                    color: $secondary-color;
                    box-shadow: 0px 4px 14px 0px rgb(0, 50, 255 / 39%);
                    transition: all 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
                }
                .active-item-btn:hover {
                    background: rgba(0,118,255,0.9);
                    box-shadow: 0px 6px 20px rgb(0, 118, 255 / 23%);
                }
            }
            .projects-items {
                @include flex-items(space-around);
                @extend .projects-items;
                flex-wrap: wrap;
                .projects-box {
                    height: 350px;
                    width: 350px;
                    margin: 0.8rem;
                    overflow: hidden;
                    border:6px solid white;
                    border-radius: 2px;
                    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
                    .project-links{
                        position: relative;
                        height: 350px;
                        width: 350px;
                        .item-hover-effect {
                            @include flex-items(center);
                            height: 350px;
                            width:350px;
                            background-color: rgba(0, 0, 0, 0.281);
                            z-index: 2;
                            position: absolute;
                            opacity: 0;
                            .icon-container {
                                @include flex-items(center);
                                height: 80px;
                                width: 80px;
                                background-color:rgba(0,118,255,0.9);
                                border-radius: 50%;
                                font-size: 1.8rem;
                                color: $secondary-color;
                                text-align: center;
                               
                                i {
                                    display: block;
                                    line-height: 80px;
                                }                               
                            }
                        }  
                        .item-hover-effect:hover {
                            opacity: 1;
                        
                        }

                        img {

                            height: 350px;
                        }
                    }                   
                }
            }
        }      
    }
}


